<ion-header>
    <div class="password-title-nav">Enter the password for "Connecting..."</div>
    <ion-toolbar color="light">
      <ion-buttons slot="secondary">
          <ion-button color="primary" (click)="closeModal()">
            Cancel
          </ion-button>
        </ion-buttons>
    <ion-title>Enter Password</ion-title>
    <ion-buttons slot="primary" style="margin-left: -7px !important">
        <ion-button [color]="(password == '' || password.length < 8) ? 'tertiary' : 'primary'" [disabled]="password =='' || password.length < 8 " (click)="closeModal()">
          <span style="font-weight: 600">Join</span>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">

    <div style="padding-top: 35px !important">
        <ion-item-group class="border-horz">
          <ion-item lines="none">
              <ion-label style="margin-right: 15px;">Password</ion-label>
              <ion-input type="password" [(ngModel)]="password"></ion-input>
            </ion-item>
        </ion-item-group>
        <div class="item-under-text">
            You can also access this Wi-Fi network by bringing your iphone near any iPhone, iPad, or Mac which has connected to this network and has you in their contacts.
          </div>
        </div>

</ion-content>
